* {
	font-family: Verdana, sans-serif;
}

body {
	background-color: lightblue;
	box-sizing: border-box;
}



div li {
	font-family: Arial;
	font-size: 16px;
	text-align: center;
}

.f-list {
	width: 200px;
	border: 2px solid blue;
	list-style-type: none;
	padding: 0px;
    margin: 0px;
}